@model PagedList.IPagedList<Admin_MySQL.Models.khuyenmaihethong>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Khuyenmaihethong";
}
<div id="page-wrapper">
    <div class="row">
        <h2>Khuyến mãi hệ thống</h2>


        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @using (Html.BeginForm("Index", "khuyenmaihethongs", FormMethod.Get))
        {
            <p>
                Tìm kiếm theo tên khuyến mãi hệ thống: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Mã khuyến mãi", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Tên khuyến mãi", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Ngày bắt đầu", "Index", new { sortOrder = ViewBag.NgayBDSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Ngày kết thúc", "Index", new { sortOrder = ViewBag.NgayKTSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Mức khuyến mãi tối đa", "Index", new { sortOrder = ViewBag.MucKhuyenMaiToiDaSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.khuyenmaihethong_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tenkhuyenmaihethong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ngaybatdau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ngayketthuc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.muckhuyenmaitoida)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.khuyenmaihethong_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.khuyenmaihethong_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.khuyenmaihethong_id })
                    </td>
                </tr>
            }

        </table></br>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>