@model IEnumerable<Admin_MySQL.Models.hoadonmua>

@{
    ViewBag.Title = "Index";
}

<div id="page-wrapper">
    <div class="row">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Mã hóa đơn mua", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Nơi nhận", "Index", new { sortOrder = ViewBag.NoiNhanSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Số sản phẩm", "Index", new { sortOrder = ViewBag.SoSanPhamSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Ngày tạo", "Index", new { sortOrder = ViewBag.NgayTaoSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Tổng tiền", "Index", new { sortOrder = ViewBag.TongTienSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Họ tên khách hàng", "Index", new { sortOrder = ViewBag.NameIDSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Số điện thoại", "Index", new { sortOrder = ViewBag.DienThoaiIDSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Hình thức thanh toán", "Index", new { sortOrder = ViewBag.TinhTrangGiaoHangSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Tình trạng giao hàng", "Index", new { sortOrder = ViewBag.HoaDonMuaSortParam, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>Thao tác</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.hoadonmua_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.noinhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sosanpham)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ngaytao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tongtien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hoten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sodienthoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hinhthucthanhtoan.tenhinhthucthanhtoan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tinhtranggiaohang.tentinhtranggiaohang)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.hoadonmua_id }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.hoadonmua_id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.hoadonmua_id })
                    </td>
                </tr>
            }

        </table>
        </div>
</div>